
/* global.scss
   ========================================================================== */

html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}
  
body {
  position: relative;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

a:active,
a:link,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

p {
  margin: 24px 0;
}

img {
  max-width: 100%;
  width: 100%;
}

iframe {
  margin: 0 !important;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
}
