
/* lean-grid.scss
   ========================================================================== */

.u-container {
	width: 100%;
	margin: 0 auto;
}

.u-row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
  
.u-col-xs-1 {
  width: 8.33333333333333%;
  max-width: 8.33333333333333%;
}

.u-col-xs-2 {
  width: 16.66666666666666%;
  max-width: 16.66666666666666%;
}

.u-col-xs-3 {
  width: 25%;
  max-width: 25%;
}

.u-col-xs-4 {
  width: 33.3333333333333%;
  max-width: 33.3333333333333%;
}

.u-col-xs-5 {
  width: 41.66666666666665%;
  max-width: 41.66666666666665%;
}

.u-col-xs-6 {
  width: 50%;
  max-width: 50%;
}

.u-col-xs-7 {
  width: 58.3333333333333%;
  max-width: 58.3333333333333%;
}

.u-col-xs-8 {
  width: 66.6666666666666%;
  max-width: 66.6666666666666%;
}

.u-col-xs-9 {
  width: 74.9999999999999%;
  max-width: 74.99999999999997%;
}

.u-col-xs-10 {
  width: 83.3333333333333%;
  max-width: 83.3333333333333%;
}

.u-col-xs-11 {
  width: 91.6666666666666%;
  max-width: 91.6666666666666%;
}

.u-col-xs-12 {
  width: 100%;
  max-width: 100%;
}

@media (min-width: $tablet-width) {
  .u-col-sm-1 {
    width: 8.33333333333333%;
    max-width: 8.33333333333333%;
  }

  .u-col-sm-2 {
    width: 16.66666666666666%;
    max-width: 16.66666666666666%;
  }

  .u-col-sm-3 {
    width: 25%;
    max-width: 25%;
  }

  .u-col-sm-4 {
    width: 33.3333333333333%;
    max-width: 33.3333333333333%;
  }

  .u-col-sm-5 {
    width: 41.66666666666665%;
    max-width: 41.66666666666665%;
  }

  .u-col-sm-6 {
    width: 50%;
    max-width: 50%;
  }

  .u-col-sm-7 {
    width: 58.3333333333333%;
    max-width: 58.3333333333333%;
  }

  .u-col-sm-8 {
    width: 66.6666666666666%;
    max-width: 66.6666666666666%;
  }

  .u-col-sm-9 {
    width: 74.9999999999999%;
    max-width: 74.99999999999997%;
  }

  .u-col-sm-10 {
    width: 83.3333333333333%;
    max-width: 83.3333333333333%;
  }

  .u-col-sm-11 {
    width: 91.6666666666666%;
    max-width: 91.6666666666666%;
  }

  .u-col-sm-12 {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .u-col-md-1 {
    width: 8.33333333333333%;
    max-width: 8.33333333333333%;
  }

  .u-col-md-2 {
    width: 16.66666666666666%;
    max-width: 16.66666666666666%;
  }

  .u-col-md-3 {
    width: 25%;
    max-width: 25%;
  }

  .u-col-md-4 {
    width: 33.3333333333333%;
    max-width: 33.3333333333333%;
  }

  .u-col-md-5 {
    width: 41.66666666666665%;
    max-width: 41.66666666666665%;
  }

  .u-col-md-6 {
    width: 50%;
    max-width: 50%;
  }

  .u-col-md-7 {
    width: 58.3333333333333%;
    max-width: 58.3333333333333%;
  }

  .u-col-md-8 {
    width: 66.6666666666666%;
    max-width: 66.6666666666666%;
  }

  .u-col-md-9 {
    width: 74.9999999999999%;
    max-width: 74.99999999999997%;
  }

  .u-col-md-10 {
    width: 83.3333333333333%;
    max-width: 83.3333333333333%;
  }

  .u-col-md-11 {
    width: 91.6666666666666%;
    max-width: 91.6666666666666%;
  }

  .u-col-md-12 {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: $desktop-wide-width) {
  .u-col-lg-1 {
    width: 8.33333333333333%;
    max-width: 8.33333333333333%;
  }

  .u-col-lg-2 {
    width: 16.66666666666666%;
    max-width: 16.66666666666666%;
  }

  .u-col-lg-3 {
    width: 25%;
    max-width: 25%;
  }

  .u-col-lg-4 {
    width: 33.3333333333333%;
    max-width: 33.3333333333333%;
  }

  .u-col-lg-5 {
    width: 41.66666666666665%;
    max-width: 41.66666666666665%;
  }

  .u-col-lg-6 {
    width: 50%;
    max-width: 50%;
  }

  .u-col-lg-7 {
    width: 58.3333333333333%;
    max-width: 58.3333333333333%;
  }

  .u-col-lg-8 {
    width: 66.6666666666666%;
    max-width: 66.6666666666666%;
  }

  .u-col-lg-9 {
    width: 74.9999999999999%;
    max-width: 74.99999999999997%;
  }

  .u-col-lg-10 {
    width: 83.3333333333333%;
    max-width: 83.3333333333333%;
  }

  .u-col-lg-11 {
    width: 91.6666666666666%;
    max-width: 91.6666666666666%;
  }

  .u-col-lg-12 {
    width: 100%;
    max-width: 100%;
  }
}
  // =============================================================================================
  // END OF GRID
  // =============================================================================================
  